/* vietnamese */
@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    src: local('Cabin Italic'), local('Cabin-Italic'), url('fonts/Cabin-Italic.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    src: local('Cabin Italic'), local('Cabin-Italic'), url('fonts/Cabin-Italic.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    src: local('Cabin Italic'), local('Cabin-Italic'), url('fonts/Cabin-Italic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 500;
    src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'), url('fonts/Cabin-MediumItalic.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 500;
    src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'), url('fonts/Cabin-MediumItalic.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 500;
    src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'), url('fonts/Cabin-MediumItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 600;
    src: local('Cabin SemiBold Italic'), local('Cabin-SemiBoldItalic'), url('fonts/Cabin-SemiBoldItalic.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 600;
    src: local('Cabin SemiBold Italic'), local('Cabin-SemiBoldItalic'), url('fonts/Cabin-SemiBoldItalic.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 600;
    src: local('Cabin SemiBold Italic'), local('Cabin-SemiBoldItalic'), url('fonts/Cabin-SemiBoldItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'), url('fonts/Cabin-BoldItalic.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'), url('fonts/Cabin-BoldItalic.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'), url('fonts/Cabin-BoldItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin'), local('Cabin-Regular'), url('fonts/Cabin-Regular.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin'), local('Cabin-Regular'), url('fonts/Cabin-Regular.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin'), local('Cabin-Regular'), url('fonts/Cabin-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Medium'), local('Cabin-Medium'), url('fonts/Cabin-Medium.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Medium'), local('Cabin-Medium'), url('fonts/Cabin-Medium.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Medium'), local('Cabin-Medium'), url('fonts/Cabin-Medium.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url('fonts/Cabin-SemiBold.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url('fonts/Cabin-SemiBold.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url('fonts/Cabin-SemiBold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Bold'), local('Cabin-Bold'), url('fonts/Cabin-Bold.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Bold'), local('Cabin-Bold'), url('fonts/Cabin-Bold.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Bold'), local('Cabin-Bold'), url('fonts/Cabin-Bold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url('fonts/CabinCondensed-Regular.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url('fonts/CabinCondensed-Regular.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url('fonts/CabinCondensed-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'), url('fonts/CabinCondensed-Medium.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'), url('fonts/CabinCondensed-Medium.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'), url('fonts/CabinCondensed-Medium.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 600;
    src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url('fonts/CabinCondensed-SemiBold.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 600;
    src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url('fonts/CabinCondensed-SemiBold.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 600;
    src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url('fonts/CabinCondensed-SemiBold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'), url('fonts/CabinCondensed-Bold.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'), url('fonts/CabinCondensed-Bold.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'), url('fonts/CabinCondensed-Bold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }