@import "vars";
@import "fonts";

clear, .clear {
    &:after,
    &:before {
        content: ' ';
        display: block;
        clear: both;
    }
}

@import "reset";

* {
    user-select: none;
}

.split-1-2, .split-2-4 {
    width: 50%;
}

.split-1-3 {
    width: 33.333%;
}

.split-2-3 {
    width: 66.666%;
}

.split-1-4 {
    width: 25%;
}

.split-3-4 {
    width: 75%;
}

.split-1-5 {
    width: 20%;
}

.split-2-5 {
    width: 40%;
}

.split-3-5 {
    width: 60%;
}

.split-4-5 {
    width: 80%;
}

.split-1-2, .split-2-4, .split-1-3, .split-2-3, .split-1-4, .split-3-4, .split-1-5, .split-2-5, .split-3-5, .split-4-5 {
    float:left;
    box-sizing: border-box;
    position: relative;

}

.split-1-3, .split-2-3, .split-1-2, .split-1-5, .split-2-5, .split-3-5, .split-4-5 {
    @include mobile {
        width:100%;  
        padding:0 !important;
    }
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

condensed {
    font-family: 'Cabin Condensed', sans-serif;
}
body, html {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    line-height: 1;
    font-size: 17px;
    color: white;
    background: #151719;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include mobile {
        font-size: 15px;
    }
}

body {
    font-family: "Cabin";
    &.noFocus {
        .GameGrid {
            * {
                animation: none !important;
            }
        }
    }
}

html {
    font-size: 1vw; // TV Mode
    //font-size: 12.8px; // Desktop Mode
}






::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(173, 184, 194, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(127, 137, 146, 0.4); 
}



#background {
    background: #151719 url('../images/bg2.jpg') center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100rem;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    will-change: transform;

    display: none;
}

#app {
    //position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:scroll; // manage scrollbar content overflow settings
    border: none !important;
    outline: none !important;
    
}



#title-bar {
    -webkit-app-region: drag;
    background: linear-gradient(to bottom, rgba(#151719,0.85) 0%,rgba(#151719,0) 100%);
    //background: #111926;
    padding: none;
    margin: 0px; 
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;

}

#title-bar-title {
 padding: 10px;   
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}





#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    margin: 10px;
    button {
        -webkit-appearance: none;
        outline:none;
        border:none;
        background: rgba(1,3,5,0.0);
        border-radius: 50%;
        width: 20px;
        height: 20px;
    padding: 0;
        line-height: 1;
        text-align: center;
        color:white;
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: row;
    background: #151719;
    padding-left: 25rem; 
}


#sidebar {
    position: fixed;
    z-index: 6;   
    width: 25rem;
    //background: #292e35;
    border-right: 0.25rem solid #313131;
    min-height: 100vh;
    top:0;
    left:0;

    .logo {
        float:left;
        //height: 10rem;
        padding: 5rem 0;
        img {
            width: 5rem;
        }
    }

    .time {
        @extend condensed;
        padding: 5.6rem 0 0;
        float:right;
        font-size: 2rem;
        font-weight: 200;
    }

    .row {
        @extend clear;
        width: 100%;
        box-sizing: border-box;
        background: rgba(white, 0.0);
        padding: 0 2rem 0 5rem;
        &.active {
            background: rgba(white, 0.3);
        }
        .item {
            @extend clear;
            padding: 1.75rem 0;
            font-size: 1.2rem;

            .title {
                float:left;
            }
            .count {
                @extend condensed;
                float:right;
            }
        }
    }

    hr {
        &:before {
            content: ' ';
            display: block;
            width: 100%;
            height: 0.15rem;
            background: #313131;
        }
        background: none;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0 2rem 0 5rem;
        border:none;
        outline:none;
    }
}

#main {
    box-sizing: border-box;
    //max-width: 1280px;
    margin: 0 auto 100px;
    padding: 0 4rem;
    position: relative;
    z-index: 5;
    max-width: 115rem;
}

.logo-top {
    img {
        width: 8rem;
        height: auto;
        display: block;
        margin: 6rem auto;
    }
}

.GameGrid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px;
    margin-top:-8px;

    &[data-width="2"] .GameTile {
        width: 50%;
    }
    &[data-width="3"] .GameTile {
        width: 33.333%;
    }
    &[data-width="4"] .GameTile {
        width: 25%;
    }
    &[data-width="5"] .GameTile {
        width: 20%;
    }
    &[data-width="6"] .GameTile {
        width: 16.666666%;
    }

    .GameGridTitle {
        width: 100%;
        padding: 0 0.5rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        font-weight: 200;
        margin: 2rem 0 1rem;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4px;
        margin-top:-8px;
        //position: relative;

        
        &:before {
            //content:attr(data-startLetter);
            position: absolute;
            top:0;
            right: 100%;
            padding: 0 25px;
            font-size: 65px;
            opacity: 0.25;
        }
    }
    .GameTile {
        display: block;
        //flex: 1 360px;
        //flex-grow: 2;
        padding: 0.25rem;
        width: 100%;
        box-sizing: border-box;

        perspective: 100rem;
        transform-style: preserve-3d;
        position: relative;
        //box-shadow: 0 10px 43px -13px rgba(0,0,0,0);
        transition: box-shadow 0.2s, transform 0.2s, background 0.2s, opacity 0.2s;
        transform: scale(1);
        will-change: box-shadow, transform, background, opacity;
        //border-radius: 5px;
        //z-index: 1;
        opacity: 0.65;
        user-select: none;
        cursor: pointer;
        filter: grayscale(0.35);

        &[data-active="true"] {
            z-index: 3;
            //transform: scale(1.15);
            //background: white;
            //box-shadow: 0 10px 43px -13px black;
            opacity: 1;
            filter: grayscale(0);
            box-shadow: 0 0 0 0.2rem #17befe;
            animation: GameTileBorderGlow 2s infinite;
            @keyframes GameTileBorderGlow {
                0% { box-shadow: 0 0 0 0.2rem #17befe; }
                50% { box-shadow: 0 0 0 0.2rem #96e1ff; }
                100% { box-shadow: 0 0 0 0.2rem #17befe; }
            }

            .GameTileInner {
                box-shadow: 0 0 0 0.4rem rgba(white,1), 0 0 11rem -2rem rgba(white,1);
                box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0), 0 0 11rem -2rem #3fc9fe;
                animation: GameTileInnerGlow 2s infinite;
                @keyframes GameTileInnerGlow {
                    0% { box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0), 0 0 11rem -2rem #3fc9fe; }
                    50% { box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0), 0 0 11rem -2rem #9fe4ff; }
                    100% { box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0), 0 0 11rem -2rem #3fc9fe; }
                }
                .title {
                    opacity: 1;
                    transform: translateY(0%);
                    animation: GameTileTitleGlow 2s infinite;
                    @keyframes GameTileTitleGlow {
                        0% { background: rgba(#17befe, 0.67); }
                        50% { background: rgba(#82c9e5, 0.8); }
                        100% { background: rgba(#17befe, 0.67); }
                    }
                }
            }
        }
        
        &:hover {
            //z-index: 3;
            
            a {
                //transform: translate3D(0,0,200px);
            }
        }
        
        .GameTileInner {
            position: relative;
            overflow: hidden;
        }

        .TileBase {
            width: 100%;
            height: auto;
            display: block;
        }

        .title {
            font-size: 1.2rem;
            padding: 0.5rem 0;
            position: absolute;
            bottom: 0;
            opacity: 0;
            background: rgba(29, 191, 254, 0.67);
            color: white;
            width: 100%;
            font-weight: 900;
            box-shadow: 0 0 0 1px rgba(29, 191, 254, 0.67);
            text-align: center;
            font-family: 'Cabin Condensed';
            text-shadow: 0 0.05rem 0.125rem rgb(42, 82, 97);
            transform: translateY(100%);
            transition: transform 0.3s, opacity 0.3s;
        }
        

        .cover {
            width:100%;
            height: auto;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //border-radius: 5px;
        }

    }
}



@import "splash";